html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

/* ------------------------------ Boxed Layout ------------------------------ */
/*========================================= */
/*================================*/
/*FONT FAMILY*/
/* ------------------------------- Grid Media ------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Jolesins";
}
@media screen and (max-width: 991px) {
  html {
    font-size: 60%;
  }
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  position: relative;
  background: #0f172a;
}
body .main {
  padding-top: 14rem;
}
body .container {
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
body .container.small {
  max-width: 980px;
}
body .container-mobile {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  body .container-mobile {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@font-face {
  font-family: "Antons";
  src: url("/src/scss/_fonts/Anton-Regular.ttf");
}
@font-face {
  font-family: "Jolesins";
  src: url("/src/scss/_fonts/JosefinSans-VariableFont_wght.ttf");
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Antons";
  gap: 1rem;
  padding: 0.8rem 1.2rem;
  letter-spacing: 0.8px;
  background: transparent;
  text-transform: uppercase;
  z-index: 1;
  font-size: 1.4rem;
}
.btn--yellow {
  color: #0f172a;
  position: relative;
  transition: color 0.5s;
}
.btn--yellow::before {
  content: "";
  height: 100%;
  transition: all 0.5s ease-in-out;
  right: 0;
  top: 0;
  width: 100%;
  position: absolute;
  background: #f3ea28;
  color: #f8fafc;
  border-radius: 3px;
  z-index: -1;
}
.btn--yellow::after {
  content: "";
  height: 100%;
  transition: all 0.5s ease-in-out;
  right: 0;
  top: 0;
  width: 100%;
  position: absolute;
  background: linear-gradient(106deg, #639, #36c 102.69%);
  color: #f8fafc;
  border-radius: 3px;
  z-index: -2;
}
.btn--yellow:hover {
  color: #f8fafc;
}
.btn--yellow:hover::before {
  width: 0;
}
.btn--yellow:hover::after {
  width: 100%;
}
.btn--yellow:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0) saturate(7487%) hue-rotate(198deg) brightness(105%) contrast(101%);
}
.btn--primary {
  color: #f8fafc;
  position: relative;
}
.btn--primary::before {
  content: "";
  height: 100%;
  transition: all 0.5s ease-in-out;
  right: 0;
  top: 0;
  width: 100%;
  position: absolute;
  background: #639;
  color: #f8fafc;
  border-radius: 3px;
  z-index: -1;
}
.btn--primary::after {
  content: "";
  height: 100%;
  transition: all 0.5s ease-in-out;
  right: 0;
  top: 0;
  width: 100%;
  position: absolute;
  background: linear-gradient(90deg, #ff6d00, #ffc107);
  color: #f8fafc;
  border-radius: 3px;
  z-index: -2;
}
.btn--primary:hover::before {
  width: 0;
}
.btn--primary:hover::after {
  width: 100%;
}
.btn img {
  width: 1.8rem;
}

.mobile {
  background-color: #0f172a;
  opacity: 0;
  visibility: hidden;
  height: 100%;
  left: 0;
  padding-top: 14rem;
  position: fixed;
  top: 0;
  transform: translate(0);
  transition: all 0.2s linear;
  width: 100%;
  z-index: 51;
}
.mobile-navbar {
  border-bottom: 2px solid #fff;
  padding: 3rem 0;
}
.mobile .menu-nav {
  font-family: "Antons";
}
.mobile .menu-nav .menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}
.mobile .menu-nav .menu-list .menu-item.active .nav-link {
  color: #f3ea28;
}
.mobile .menu-nav .nav-link {
  color: #cbd5e1;
  font-size: 2rem;
  text-transform: uppercase;
}
.mobile .mobile-content {
  margin-top: 3rem;
}
.mobile .mobile-content .menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}
.mobile .mobile-content .menu-list .menu-item.active .nav-link {
  color: #f3ea28;
}
.mobile .mobile-content .nav-link {
  color: #cbd5e1;
  font-size: 2rem;
  text-transform: capitalize;
}
.mobile .mobile-content .menu-list .nav-link:last-child {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.mobile .mobile-content .menu-list .nav-link:last-child img {
  width: 2rem;
  height: 2rem;
}

.register {
  background-image: url("/img/bgAuth.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  padding-top: 14rem;
}
.register-modal {
  margin: 0 auto;
  padding: 30px 60px;
  width: 600px;
  z-index: 1;
  position: relative;
  border-radius: 6px;
  background-image: linear-gradient(to bottom, rgba(20, 50, 93, 0.9), rgba(8, 22, 48, 0.9));
}
.register-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register-modal-content .register-title {
  color: #f3ea28;
  font-family: "Jolesins";
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}
.register-modal-content .register-login {
  color: red;
  margin-left: 10px;
}
.register-modal .register-logo {
  width: 17rem;
  height: 8rem;
  margin: 0 auto;
}
.register-modal .btn-register {
  margin-left: 40%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Antons";
  gap: 1rem;
  padding: 0.8rem 1.2rem;
  letter-spacing: 0.8px;
  background: transparent;
  text-transform: uppercase;
  z-index: 1;
  background: #639;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  width: 150px;
  margin: 20px auto 0 auto;
}
.register-modal .btn-register::before {
  content: "";
  height: 100%;
  transition: all 0.5s ease-in-out;
  right: 0;
  top: 0;
  width: 100%;
  position: absolute;
  background: #f3ea28;
  color: #f8fafc;
  border-radius: 3px;
  z-index: -1;
}
.register-modal .btn-register::after {
  content: "";
  height: 100%;
  transition: all 0.5s ease-in-out;
  right: 0;
  top: 0;
  width: 100%;
  position: absolute;
  background: linear-gradient(106deg, #639, #36c 102.69%);
  color: #f8fafc;
  border-radius: 3px;
  z-index: -2;
}
.register-modal .btn-register:hover::before {
  width: 0;
}
.register-modal .btn-register:hover::after {
  width: 100%;
}
.register .form .form-group .form-label {
  display: block;
  color: #f3ea28;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.8rem;
}
.register .form .form-group .form-input {
  width: 100%;
  border-radius: 5px;
  outline: none;
  padding: 4px 20px;
  height: 4rem;
}
.register .form .form-group .form-input:focus {
  border: 2px solid aqua;
}
.register .form .form-group .text-danger {
  color: #fa8072;
  margin-top: 10px;
  font-size: 1.6rem;
}
@media screen and (max-width: 767px) {
  .register .form {
    width: 400px;
  }
}
@media (max-width: 575px) {
  .register .form {
    width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .register {
    padding-top: 8rem;
  }
  .register-logo {
    display: none;
  }
  .register-modal {
    width: 500px;
  }
}
@media (max-width: 575px) {
  .register-modal {
    width: 400px;
    padding: 5px;
    z-index: 0;
  }
  .register-modal-content .register-title {
    font-size: 1.4rem;
  }
  .register .form {
    width: 250px;
    margin: 0 auto;
  }
  .register .form-group .form-label {
    margin-top: 0;
    font-size: 1.4rem;
  }
}
@media (max-width: 430px) {
  .register-modal {
    width: 280px;
    padding: 5px;
    z-index: 0;
  }
  .register-modal-content .register-title {
    font-size: 1.4rem;
  }
  .register .form {
    width: 250px;
    margin: 0 auto;
  }
  .register .form-group .form-label {
    margin-top: 0;
    font-size: 1.4rem;
  }
}

.form .form-group .form-label {
  display: block;
  color: #f3ea28;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.8rem;
}
.form .form-group .form-input {
  width: 100%;
  border-radius: 5px;
  outline: none;
  padding: 4px 20px;
  height: 4rem;
}
.form .form-group .form-input:focus {
  border: 2px solid aqua;
}
.form .form-group .text-danger {
  color: #fa8072;
  margin-top: 10px;
  font-size: 1.6rem;
}

l .ant-modal-header {
  text-align: center;
  background: transparent;
}

l .ant-modal-content {
  background-image: linear-gradient(to bottom, rgba(20, 50, 93, 0.9), rgba(8, 22, 48, 0.9)) !important;
}

.movie-heading {
  margin-top: 10rem;
  font-size: 3.6rem;
  color: #f8fafc;
  text-align: center;
}

.movie-list {
  margin-top: 50px;
  margin-bottom: 100px;
}
.movie-list .card-movie-item .card-movie-box {
  position: relative;
  display: flex;
  flex-direction: column;
}
.movie-list .card-movie-item .card-movie-box .image {
  width: 100%;
  height: 440px;
}
@media screen and (max-width: 767px) {
  .movie-list .card-movie-item .card-movie-box .image {
    height: 300px;
  }
}
@media only screen and (max-width: 330px) {
  .movie-list .card-movie-item .card-movie-box .image {
    height: 250px;
  }
}
.movie-list .card-movie-item .card-movie-box:hover .movie-info {
  opacity: 1;
  visibility: visible;
}
.movie-list .card-movie-item .card-movie-box .movie-info {
  padding: 15px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}
.movie-list .card-movie-item .card-movie-box .movie-info .name {
  width: 240px;
  text-transform: capitalize;
  color: #f3ea28;
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  .movie-list .card-movie-item .card-movie-box .movie-info .name {
    font-size: 1.6rem;
  }
}
.movie-list .card-movie-item .card-movie-box .movie-info .detail {
  margin-top: 20px;
}
.movie-list .card-movie-item .card-movie-box .movie-info .detail .title {
  margin-bottom: 10px;
}
.movie-list .card-movie-item .card-movie-box .movie-info .detail .title-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.movie-list .card-movie-item .card-movie-box .movie-info .detail .title-link .title-name {
  color: #f8fafc;
}
.movie-list .card-movie-item .card-movie-box .movie-info .detail .title-link .ic img {
  width: 30px;
  height: 30px;
}
.movie-list .card-movie-item .info {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background: #0f172a;
  align-items: center;
}
.movie-list .card-movie-item .info .movie-name {
  color: #f8fafc;
  font-size: 2rem;
  text-transform: capitalize;
  height: 50px;
}
@media screen and (max-width: 767px) {
  .movie-list .card-movie-item .info .movie-name {
    height: 30px;
    font-size: 1.6rem;
  }
}
@media (max-width: 575px) {
  .movie-list .card-movie-item .info .movie-name {
    font-size: 1.4rem;
  }
}
.movie-list .card-movie-item .info-action {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}
.movie-list .card-movie-item .info-action .btn--yellow {
  padding: 12px;
}
.movie-list .card-movie-item .info-action .action-watch {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: underline;
  color: #fff;
  text-underline-position: under;
}
@media screen and (max-width: 767px) {
  .movie-list .card-movie-item .info-action .action-watch {
    display: none;
  }
}
.movie-list .card-movie-item .info-action .action-watch .ic {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100rem;
  border: 0.1rem solid white;
  align-items: center;
}
.movie-list .card-movie-item .info-action .action-watch .txt {
  color: #f8fafc;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
}

.swiper-slide img {
  display: block;
}

.swiper-pagination-bullet {
  width: 1.5rem;
  height: 1.5rem;
  background: #f8fafc;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  top: 40%;
  z-index: 100000;
}

.banner-movie :where(.css-dev-only-do-not-override-zg0ahe).ant-carousel .slick-dots {
  opacity: 0;
  visibility: hidden;
}
.banner-movie :where(.css-dev-only-do-not-override-zg0ahe).ant-carousel .slick-prev {
  left: -5rem;
}
.banner-movie :where(.css-dev-only-do-not-override-zg0ahe).ant-carousel .slick-prev::after {
  width: 30px;
  height: 30px;
  color: #f3ea28;
  border-inline-width: 8px 0;
  border-block-width: 8px 0;
}
@media (max-width: 575px) {
  .banner-movie :where(.css-dev-only-do-not-override-zg0ahe).ant-carousel .slick-prev::after {
    width: 10px;
    height: 10px;
    border-inline-width: 5px 0;
    border-block-width: 5px 0;
  }
}
.banner-movie :where(.css-dev-only-do-not-override-zg0ahe).ant-carousel .slick-next {
  right: -3rem;
}
@media (max-width: 575px) {
  .banner-movie :where(.css-dev-only-do-not-override-zg0ahe).ant-carousel .slick-next {
    right: 0px !important;
  }
}
.banner-movie :where(.css-dev-only-do-not-override-zg0ahe).ant-carousel .slick-next::after {
  width: 30px;
  height: 30px;
  color: #f3ea28;
  border-inline-width: 8px 0;
  border-block-width: 8px 0;
}
@media (max-width: 575px) {
  .banner-movie :where(.css-dev-only-do-not-override-zg0ahe).ant-carousel .slick-next::after {
    width: 10px;
    height: 10px;
    border-inline-width: 5px 0;
    border-block-width: 5px 0;
    right: 0px;
  }
}
.banner-movie .banner-item {
  width: 100%;
}
@media screen and (max-width: 1290px) {
  .banner-movie :where(.css-dev-only-do-not-override-zg0ahe).ant-carousel .slick-next {
    right: 28px;
  }
  .banner-movie :where(.css-dev-only-do-not-override-zg0ahe).ant-carousel .slick-prev {
    left: 0;
  }
}

.navigate-wrap {
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .navigate-wrap {
    display: flex;
    flex-direction: column;
  }
}
.navigate-wrap .heading {
  background: #fff;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  padding: 0 10px;
  border-radius: 10px;
}
@media screen and (max-width: 991px) {
  .navigate-wrap .heading {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.navigate-wrap .heading-title {
  font-family: "Antons";
  color: #5444aa;
  font-size: 1.4rem;
}
@media screen and (max-width: 991px) {
  .navigate-wrap .navigate-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.navigate-wrap .navigate-filter-item {
  max-height: 5rem;
  max-width: 14rem;
}
.navigate-wrap .ant-select-selection-placeholder {
  font-family: "Antons";
  font-size: 2rem;
  color: #639;
  text-align: center;
}
.navigate-wrap .ant-select-selector {
  border: none;
  background: #f8fafc;
  border: 1px solid #f3ea28;
  padding: 20px 0px;
  width: 14rem;
}
.navigate-wrap .ant-select-selector .ant-select-selection-item {
  color: #639;
  font-family: "Antons";
  text-align: center;
  letter-spacing: 1px;
  padding-inline-end: 0px;
}
.navigate-wrap .ant-select-selector .ant-select-selection-search-input {
  display: none;
}
.navigate-wrap .ant-select-arrow {
  display: none;
}

.ant-select-dropdown .ant-select-item-option-content {
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
}

.footer {
  position: relative;
  background: #5444aa;
  padding: 5rem 0;
  width: 100%;
  font-family: "Jolesins";
  z-index: 5;
  margin-top: 12rem;
}
.footer .footer-title {
  font-family: "Antons";
  color: #f8fafc;
  font-size: 1.8rem;
  margin-bottom: 20px;
  display: inline-block;
}
.footer .link {
  font-size: 1.6rem;
  color: #f8fafc;
  margin-bottom: 20px;
  display: inline-block;
  transition: color 0.5s;
  font-family: inherit;
}
.footer .link:hover {
  color: #f3ea28;
}
.footer .footer-grid {
  justify-content: space-between;
}
@media screen and (max-width: 1559px) {
  .footer .footer-grid {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
.footer .footer-grid .footer-grow {
  flex-direction: column;
  row-gap: 30px;
}
.footer .footer-grid .footer-grow .footer-social__list {
  display: flex;
  gap: 15px;
}
.footer .footer-grid .footer-grow .footer-social__list .social-link img {
  width: 2.4rem;
  height: 2.4rem;
}
.footer .footer-grid .footer-social .footer-logo {
  width: 160px;
  height: 58px;
}
.footer .footer-grid .footer-social .text {
  font-size: 1.4rem;
  color: #f8fafc;
}
.footer .footer-grid .footer-social .btn-actions {
  display: flex;
  gap: 10px;
}
.footer .footer-grid .footer-social .btn-actions .btn-action {
  width: 15rem;
}
.footer .footer-grid .footer-social .btn-actions .booking-ticket {
  color: inherit;
}
.footer .footer-grid .footer-social .btn-actions .booking-ticket:hover {
  color: #f8fafc;
}
.footer .footer-grid .footer-social .btn-actions .booking-food {
  border: 1px solid #f3ea28;
  color: inherit;
}
.footer .footer-grid .footer-info {
  max-width: none;
  margin-bottom: 20px;
}
.footer .footer-mobile {
  display: none;
}
.footer .footer-mobile__xs {
  display: none;
}
@media screen and (max-width: 991px) {
  .footer .footer {
    position: relative;
    z-index: -5;
  }
  .footer .footer-title {
    color: #f3ea28;
  }
  .footer .footer-grid {
    display: none;
  }
  .footer .footer-mobile {
    display: block;
    flex-direction: column;
    width: 100%;
  }
  .footer .footer-mobile__xs {
    display: none;
  }
  .footer .footer-mobile :where(.css-dev-only-do-not-override-zg0ahe).ant-row {
    display: block;
    text-align: center;
  }
  .footer .footer-social {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }
  .footer .footer-social .text {
    margin: 20px 0;
  }
  .footer .footer-social .booking-ticket {
    margin: 15px 0;
  }
  .footer .footer-social__list {
    margin: 2rem 0;
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  .footer .footer-social__list img {
    width: 2.4rem;
    height: 2.4rem;
  }
  .footer .footer-grow .ant-col-8 {
    max-width: none;
  }
  .footer .footer-grow .footer-info__movie {
    margin: 2rem 0;
  }
}
@media screen and (max-width: 767px) {
  .footer .footer-mobile {
    display: none;
  }
  .footer .footer-mobile__xs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  .footer .footer-mobile__xs .footer-logo {
    width: 13rem;
    height: 5rem;
  }
  .footer .footer-mobile__xs .text {
    color: #f8fafc;
    font-size: 1.8rem;
  }
  .footer .footer-mobile__xs .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer .footer-mobile__xs .footer__nav .nav-link {
    color: white;
    font-size: 1.6rem;
  }
}

.header {
  height: 14rem;
  background: #0f172a;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header-mobile {
  display: none;
}
.header-top {
  height: 7.8rem;
  width: 100%;
}
.header-top-wrap {
  padding: 15px 0;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 8rem;
  position: relative;
  justify-content: center;
}
.header-top .main-logo img {
  width: 13rem;
  height: 4.5rem;
}
.header-top-actions {
  display: flex;
  gap: 1rem;
}
.header-top-right {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}
.header-top-right .header-top-search .header-search {
  display: none;
}
.header-top-right .header-top-search .search {
  width: 25rem;
}
.header-top-right .header-top-search .search .search-input {
  border-radius: 100rem;
  font-size: 1.4rem;
  width: 100%;
  height: 40px;
  padding: 10px 10px;
}
.header-top-right .header-top-search .search .search-input::placeholder {
  color: rgb(23, 23, 200);
}
.header-top-right .header-top-search .search .search-input:focus {
  border: none;
  outline: none;
}
.header-top-right .header-top-search .search .search-button {
  display: none;
}
.header-top-right .header-top-auth .header-auth-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-top-right .header-top-auth .header-auth-wrap .authentic-user {
  color: #f8fafc;
  font-size: 1.6rem;
}
.header-top-right .header-top-auth .header-auth-wrap .auth-ava img {
  width: 2.4rem;
  height: 2.4rem;
}
.header-top-right .header-top-auth .header-auth-wrap .auth-text {
  cursor: pointer;
}
.header-top-right .header-top-auth .header-auth-wrap .auth-text a {
  color: #f8fafc;
  transition: color 0.5s;
  font-size: 1.4rem;
}
.header-top-right .header-top-auth .header-auth-wrap .auth-text a:hover {
  color: #f3ea28;
}
.header-bottom {
  border-top: 2px solid #f0f0f0;
}
.header-bottom-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
  cursor: pointer;
  position: relative;
}
.header-bottom-action .theater:hover .text,
.header-bottom-action .theater-schedule:hover .text {
  color: #f3ea28;
}
.header-bottom-action .theater:hover .theater-list,
.header-bottom-action .theater-schedule:hover .theater-list {
  opacity: 1;
  visibility: visible;
}
.header-bottom-action .theater-list {
  opacity: 0;
  visibility: hidden;
  align-items: center;
  display: flex;
  gap: 1rem;
  padding: 0.8rem 1rem;
  transition: 0.3s ease-in-out;
  white-space: nowrap;
  width: 100%;
  position: absolute;
  left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1.5rem 1rem;
  row-gap: 0.5rem;
}
.header-bottom-action .theater-list .link {
  color: #f8fafc;
  font-size: 1.4rem;
  transition: color 0.5s;
}
.header-bottom-action .theater-list .link:hover {
  color: #f3ea28;
}
.header-bottom-action .text,
.header-bottom-action .icon-bottom {
  color: #f8fafc;
  font-size: 1.6rem;
  margin-left: 1rem;
  transition: color 0.5s;
}
@media screen and (max-width: 767px) {
  .header-bottom {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .header-top-right .header-top-search .search {
    width: 0;
  }
  .header-top-right .header-top-search .search .search-input {
    display: none;
    position: absolute;
    top: 9rem;
    left: 0;
    width: 100%;
    border: 0.1rem solid rgba(248, 250, 252, 0.1);
    border-radius: 0.8rem;
    padding: 10px;
  }
  .header-top-right .header-top-search .search .search-input.active {
    display: block;
  }
  .header-top-right .header-top-search .search .search-button {
    display: block;
    background: transparent;
    border: none;
    outline: none;
  }
  .header-top-right .header-top-search .search .search-button img {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .header {
    height: 6rem;
    position: fixed;
    z-index: 100;
  }
  .header-top {
    height: 100%;
    width: 100%;
  }
  .header-top-wrap {
    display: none;
  }
  .header-mobile {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .header-mobile-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) and (max-width: 575px) {
  .header-mobile-wrap {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .header-mobile-wrap .mobile-select {
    border: 1px solid blue;
    border-radius: 5px;
  }
  .header-mobile-wrap .mobile-select :where(.css-dev-only-do-not-override-zg0ahe)[class*=" ant-tree-select"] {
    width: 18rem;
  }
  .header-mobile-wrap .mobile-select :where(.css-dev-only-do-not-override-zg0ahe)[class*=" ant-tree-select"] .ant-select-selector {
    background: transparent;
    border: none;
  }
  .header-mobile-wrap .mobile-select :where(.css-dev-only-do-not-override-zg0ahe)[class*=" ant-tree-select"] .ant-select-selection-placeholder {
    color: #f3ea28;
  }
  .header-mobile-wrap .mobile-select :where(.css-dev-only-do-not-override-zg0ahe)[class*=" ant-tree-select"] .ant-select-selection-item {
    color: #f3ea28;
  }
  .header-mobile-wrap .mobile-select :where(.css-dev-only-do-not-override-zg0ahe)[class*=" ant-tree-select"] .ant-select-arrow {
    color: #f3ea28;
  }
  .header-mobile-wrap .mobile-burger .burger {
    display: flex;
    flex-direction: column;
    height: 3.2rem;
    justify-content: center;
    width: 3.2rem;
    position: relative;
  }
  .header-mobile-wrap .mobile-burger .burger.active .line:first-child {
    transform: rotate(45deg) translate(0.51rem, 0.5rem);
  }
  .header-mobile-wrap .mobile-burger .burger.active .line:nth-child(2) {
    opacity: 0;
  }
  .header-mobile-wrap .mobile-burger .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(0.5rem, -0.48rem);
  }
  .header-mobile-wrap .mobile-burger .line {
    background-color: #f8fafc;
    border-radius: 100rem;
    display: block;
    flex-shrink: 0;
    height: 0.2rem;
    transition: 0.3s ease-in-out;
    width: 2.4rem;
  }
  .header-mobile-wrap .mobile-burger .line:nth-child(2) {
    margin: 0.5rem 0;
  }
}
@media (max-width: 575px) {
  .header .main-logo img {
    width: 9rem;
  }
  .header-mobile-wrap .mobile-select :where(.css-dev-only-do-not-override-zg0ahe)[class*=" ant-tree-select"] {
    width: 13rem;
  }
}

:where(.css-dev-only-do-not-override-98ntnt).ant-modal .ant-modal-content {
  background: #5444aa !important;
}
:where(.css-dev-only-do-not-override-98ntnt).ant-modal .ant-modal-content .ant-modal-header {
  background: none;
}
:where(.css-dev-only-do-not-override-98ntnt).ant-modal .ant-modal-content .ant-modal-title {
  text-align: center;
}

.mobile-navbar-bottom {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-navbar-bottom {
    background: #639;
    position: fixed;
    bottom: 0;
    height: 7rem;
    padding: 2rem 1rem;
    display: block;
    z-index: 20;
  }
}
@media screen and (max-width: 767px) and (max-width: 575px) {
  .mobile-navbar-bottom {
    width: 68%;
  }
}
@media screen and (max-width: 767px) {
  .mobile-navbar-bottom .menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 767px) and (max-width: 575px) {
  .mobile-navbar-bottom .menu-list .menu-item i,
  .mobile-navbar-bottom .menu-list .menu-item img {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .mobile-navbar-bottom .menu-list .menu-item.active .menu-link {
    color: #f3ea28;
  }
  .mobile-navbar-bottom .menu-list .menu-item .menu-link {
    display: flex;
    align-items: center;
    color: #cbd5e1;
    gap: 1rem;
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px) and (max-width: 575px) {
  .mobile-navbar-bottom .menu-list .menu-item .menu-link {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .mobile.active {
    opacity: 1;
    visibility: visible;
  }
}

.bookingTicket {
  margin-top: 2rem;
}
.bookingTicket .movie-select .movie-image img {
  width: 90%;
}
.bookingTicket .movie-select .movie-info .heading {
  font-family: "Antons";
  font-size: 4rem;
  color: #f8fafc;
}
@media screen and (max-width: 767px) {
  .bookingTicket .movie-select .movie-info .heading {
    font-size: 3rem;
  }
}
@media (max-width: 575px) {
  .bookingTicket .movie-select .movie-info .heading {
    font-size: 1.6rem;
    line-height: 30px;
  }
}
.bookingTicket .movie-select .movie-info .info-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-family: "Jolesins";
  margin-bottom: 1.5rem;
}
.bookingTicket .movie-select .movie-info .info-item .ic img {
  width: 2.4rem;
  height: 2.4rem;
}
@media (max-width: 575px) {
  .bookingTicket .movie-select .movie-info .info-item .ic img {
    width: 1.4rem;
    height: 1.4rem;
  }
}
.bookingTicket .movie-select .movie-info .info-item .txt {
  font-size: 1.4rem;
  color: #f8fafc;
}
.bookingTicket .movie-select .movie-info .detail {
  font-family: "Jolesins";
}
@media screen and (max-width: 767px) {
  .bookingTicket .movie-select .movie-info .detail {
    display: none;
  }
}
.bookingTicket .movie-select .movie-info .detail span {
  font-family: "Antons";
  font-size: 2rem;
  color: #f8fafc;
}
.bookingTicket .movie-select .movie-info .detail .txt {
  margin-top: 20px;
  font-size: 1.8rem;
  color: #f8fafc;
}
.bookingTicket .movie-select .movie-info .detail-content h2 {
  margin-top: 3rem;
  font-family: "Antons";
  font-size: 2rem;
  color: #f8fafc;
}
.bookingTicket .movie-select .movie-info .detail-content .txt {
  letter-spacing: 0.6px;
}
.bookingTicket .movie-select .movie-info .detail .info-action {
  margin-top: 2rem;
}
.bookingTicket .movie-select .movie-info .detail .info-action .booking {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.bookingTicket .movie-select .movie-info .detail .info-action .booking .text {
  font-family: "Jolesins";
  text-decoration: underline;
}
.bookingTicket .movie-select .movie-info .detail .info-action .action-watch {
  display: flex;
  align-items: center;
}
.bookingTicket .movie-select .detail {
  font-family: "Jolesins";
}
.bookingTicket .movie-select .detail.bookingTicket-mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .bookingTicket .movie-select .detail.bookingTicket-mobile {
    display: block;
  }
  .bookingTicket .movie-select .detail.bookingTicket-mobile span {
    margin-top: 2rem;
    display: inline-block;
    font-family: "Antons";
    font-size: 1.6rem;
    color: #f8fafc;
  }
  .bookingTicket .movie-select .detail.bookingTicket-mobile .txt {
    margin-top: 20px;
    font-size: 1.6rem;
    color: #f8fafc;
  }
  .bookingTicket .movie-select .detail.bookingTicket-mobile-content h2 {
    margin-top: 3rem;
    font-family: "Antons";
    font-size: 1.8rem;
    color: #f8fafc;
  }
  .bookingTicket .movie-select .detail.bookingTicket-mobile-content .txt {
    letter-spacing: 0.6px;
  }
  .bookingTicket .movie-select .detail.bookingTicket-mobile .info-action {
    margin-top: 2rem;
  }
  .bookingTicket .movie-select .detail.bookingTicket-mobile .info-action .booking {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .bookingTicket .movie-select .detail.bookingTicket-mobile .info-action .booking .text {
    font-family: "Jolesins";
    text-decoration: underline;
  }
  .bookingTicket .movie-select .detail.bookingTicket-mobile .info-action .action-watch {
    display: flex;
    align-items: center;
  }
}
.bookingTicket .container-ticket {
  width: 67%;
  margin-left: auto;
  margin-right: auto;
}
.bookingTicket .movie-schedule {
  margin-top: 10rem;
}
.bookingTicket .movie-schedule .heading {
  font-size: 4rem;
  color: #f8fafc;
  text-align: center;
  margin-bottom: 24px;
  font-family: "Antons";
}
.bookingTicket .movie-schedule .schedule-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.bookingTicket .movie-schedule .schedule-list .time {
  margin: 0 auto;
  padding: 20px;
  background: transparent;
  width: 100px;
  border: 1px solid #f3ea28;
  text-align: center;
  cursor: pointer;
}
.bookingTicket .movie-schedule .schedule-list .time.active {
  background: #f3ea28;
}
.bookingTicket .movie-schedule .schedule-list .time.active .time-month {
  color: #5444aa;
}
.bookingTicket .movie-schedule .schedule-list .time-month {
  font-size: 2rem;
  color: #f3ea28;
  margin-bottom: 1rem;
}
.bookingTicket .movie-schedule .schedule-list .time-day {
  color: #5444aa;
}
.bookingTicket .theater-list {
  margin-top: 3rem;
}
.bookingTicket .theater-list .heading {
  font-size: 3rem;
  color: #f8fafc;
  margin-bottom: 24px;
  font-family: "Antons";
}
.bookingTicket .theater-list .theater-info {
  margin-top: 2rem;
  background: #639;
  padding: 2.4rem;
  margin-bottom: 5rem;
}
.bookingTicket .theater-list .name {
  color: #f3ea28;
  font-size: 2.4rem;
  font-weight: bold;
}
.bookingTicket .theater-list .address {
  font-size: 1.6rem;
  color: #f8fafc;
  margin: 2rem 0;
}
.bookingTicket .theater-list .hour {
  display: inline-block;
  padding: 8px;
  border: 1px solid forestgreen;
  color: #f3ea28;
  font-size: 1.6rem;
}

.navigate-wrap {
  margin-top: 50px;
}
.navigate-wrap .navigate-filter-item {
  margin-right: 20px;
}
.navigate-wrap .navigate-filter-btn {
  height: 41px;
}
.navigate-wrap .navigate-filter-btn .navigate-filter {
  background: #f3ea28;
  border-radius: 10px;
}

.coming-soon .heading {
  margin-top: 10rem;
  font-size: 3.6rem;
  color: #f8fafc;
  text-align: center;
}
.coming-soon .movie-list .card-movie-item .card-movie-box img {
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.row-label {
  color: #f8fafc;
  font-size: 1.4rem;
}

.seat {
  width: 40px;
  height: 30px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.seat.vip {
  background: #f3ea28;
}
.seat.booked {
  background: #639 !important;
  pointer-events: none;
}
.seat.booking {
  background: linear-gradient(90deg, #ff6d00, #ffc107);
}

.type-seat {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}
.type-seat .booked {
  display: flex;
  align-items: center;
  gap: 20px;
}
.type-seat .booked p {
  background: #639;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}
.type-seat .booked span {
  color: #f8fafc;
  font-size: 1.4rem;
}
.type-seat .booking {
  display: flex;
  align-items: center;
  gap: 20px;
}
.type-seat .booking p {
  background: linear-gradient(90deg, #ff6d00, #ffc107);
  width: 30px;
  height: 30px;
  border-radius: 10px;
}
.type-seat .booking span {
  color: #f8fafc;
  font-size: 1.4rem;
}
.type-seat .vip {
  display: flex;
  align-items: center;
  gap: 20px;
}
.type-seat .vip p {
  background: #f3ea28;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}
.type-seat .vip span {
  color: #f8fafc;
  font-size: 1.4rem;
}
.type-seat .normal {
  display: flex;
  align-items: center;
  gap: 20px;
}
.type-seat .normal p {
  background: #f8fafc;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}
.type-seat .normal span {
  color: #f8fafc;
  font-size: 1.4rem;
}

.bill {
  animation: fadeInUp 0.3s ease-in-out;
  background-color: #0f172a;
  border-top: 0.1rem solid rgba(248, 250, 252, 0.5);
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: sticky;
  transition: 0.3s ease-in-out;
  width: 100%;
  z-index: 0;
}
.bill-wrapper {
  display: flex;
  gap: 20px;
}
.bill-left {
  flex: 1;
}
.bill-left .name-film {
  font-size: 2.4rem;
  color: #f8fafc;
  font-family: "Antons";
  margin-bottom: 2rem;
}
.bill-left .list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.bill-left .list .item .txt {
  font-size: 1.2rem;
  color: #f8fafc;
  font-family: "Antons";
}
.bill-custom-right {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 40rem;
}
.bill-custom-right .bill-countdown {
  width: 15rem;
  background-color: #f3ea28;
  border: 0.1rem solid rgba(248, 250, 252, 0.5);
  border-radius: 0.4rem;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.3rem;
}
.bill-custom-right .bill-countdown .txt {
  font-family: "Jolesins";
  margin-bottom: 1rem;
}
.bill-custom-right .bill-countdown .bill-time {
  align-items: center;
  display: flex;
  font-family: "Antons";
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
.bill-custom-right .bill-right {
  width: 100%;
}
.bill-custom-right .bill-right .price {
  display: flex;
  color: #f8fafc;
  align-items: center;
  justify-content: space-between;
}
.bill-custom-right .bill-right .price .txt {
  font-size: 1.4rem;
}
.bill-custom-right .bill-right .price .num {
  font-size: 2rem;
}
.bill-custom-right .bill-button {
  width: 100%;
}
.bill-custom-right .bill-button .btn {
  width: 100%;
}

:where(.css-dev-only-do-not-override-98ntnt).ant-modal .ant-modal-content .ant-modal-title {
  color: #f8fafc;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.ant-modal-body {
  font-family: "Antons";
  color: #f8fafc;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.8rem;
}
.ant-modal-body .info-film {
  color: aquamarine;
}
.ant-modal-body .dataSeat {
  color: #f3ea28;
}

.profilePage {
  margin-top: 2rem;
}
.profilePage .heading {
  text-align: center;
  font-size: 3rem;
  color: #f8fafc;
}

.ant-tabs-tab-btn {
  font-size: 2rem;
  color: #f8fafc;
}

.ant-layout {
  height: 100vh;
}

.ant-layout-content {
  overflow-y: scroll;
}

.userManagement,
.movieManagement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.heading {
  color: #5444aa;
  font-size: 2rem;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}/*# sourceMappingURL=index.css.map */