@mixin button-base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $font-antons;
  gap: 1rem;
  padding: .8rem 1.2rem;
  letter-spacing: .8px;
  background: transparent;
  text-transform: uppercase;
  z-index: 1;
}


@mixin baseButton-pseudo($bg-background) {
  content: "";
  height: 100%;
  transition: all .5s ease-in-out;
  right: 0;
  top: 0;
  width: 100%;
  position: absolute;
  background: $bg-background;
  color: $white-text;
  border-radius: 3px;

}

@mixin hoverButton {
  &::before {
    width: 0;
  }

  &::after {
    width: 100%;
  }
}

// HEADER MOBILE

@mixin mobile-flex ($textTransform: null) {
  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;

    .menu-item.active {
      .nav-link {
        color: $yellow-text;

      }

    }
  }

  .nav-link {
    color: $mobileNav-text;
    font-size: 2rem;
    text-transform: $textTransform;

  }

}