@font-face {

    font-family: "Antons";
    src: url("/src/scss/_fonts/Anton-Regular.ttf");
}

@font-face {
    font-family: "Jolesins";
    src: url("/src/scss/_fonts/JosefinSans-VariableFont_wght.ttf");
}