.ant-layout {
  height: 100vh;
}

.ant-layout-content {
  overflow-y: scroll;
}

.userManagement,
.movieManagement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;

}

.heading {
  color: $bgFooter-color;
  font-size: $fs-text20;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}