.bookingTicket {
  margin-top: 2rem;

  .movie-select {
    .movie-image {
      img {
        width: 90%;
      }

    }

    .movie-info {
      .heading {
        font-family: $font-antons;
        font-size: $fs-text40;
        color: $white-text;

        @include xs {
          font-size: $fs-text30;
        }

        @include xxs {
          font-size: $fs-text16;
          line-height: 30px;
        }
      }

      .info-item {
        display: flex;
        gap: 2rem;
        align-items: center;
        font-family: $font-jolesin;
        margin-bottom: 1.5rem;

        .ic {
          img {
            width: 2.4rem;
            height: 2.4rem;

            @include xxs {
              width: 1.4rem;
              height: 1.4rem;
            }
          }
        }

        .txt {
          font-size: $fs-text14;
          color: $white-text;
        }
      }

      .detail {
        font-family: $font-jolesin;

        @include xs {
          display: none;
        }

        span {
          font-family: $font-antons;
          font-size: $fs-text20;
          color: $white-text;
        }

        .txt {
          margin-top: 20px;
          font-size: $fs-text18;
          color: $white-text;
        }

        &-content {
          h2 {
            margin-top: 3rem;
            font-family: $font-antons;
            font-size: $fs-text20;
            color: $white-text;
          }

          .txt {
            letter-spacing: 0.6px;
          }
        }

        .info-action {
          margin-top: 2rem;

          .booking {
            display: flex;
            align-items: center;
            gap: 2rem;

            .text {
              font-family: $font-jolesin;
              text-decoration: underline;

            }
          }

          .action-watch {
            display: flex;
            align-items: center;
          }


        }
      }
    }

    .detail {
      font-family: $font-jolesin;

      &.bookingTicket-mobile {
        display: none;

        @include xs {
          display: block;

          span {
            margin-top: 2rem;
            display: inline-block;
            font-family: $font-antons;
            font-size: $fs-text16;
            color: $white-text;
          }

          .txt {
            margin-top: 20px;
            font-size: $fs-text16;
            color: $white-text;
          }

          &-content {
            h2 {
              margin-top: 3rem;
              font-family: $font-antons;
              font-size: $fs-text18;
              color: $white-text;
            }

            .txt {
              letter-spacing: 0.6px;
            }
          }

          .info-action {
            margin-top: 2rem;

            .booking {
              display: flex;
              align-items: center;
              gap: 2rem;

              .text {
                font-family: $font-jolesin;
                text-decoration: underline;

              }
            }

            .action-watch {
              display: flex;
              align-items: center;
            }


          }
        }


      }

    }
  }

  .container-ticket {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
  }

  .movie-schedule {
    margin-top: 10rem;

    .heading {
      font-size: $fs-text40;
      color: $white-text;
      text-align: center;
      margin-bottom: 24px;
      font-family: $font-antons;
    }

    .schedule-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;


      .time {
        margin: 0 auto;
        padding: 20px;
        background: transparent;
        width: 100px;
        border: 1px solid $bgButton-ticket;
        text-align: center;
        cursor: pointer;

        &.active {
          background: $bgButton-ticket;

          .time-month {
            color: $bgFooter-color;
          }
        }





        &-month {
          font-size: 2rem;
          color: $yellow-text;
          margin-bottom: 1rem;

        }

        &-day {
          color: $bgFooter-color
        }
      }
    }


  }

  .theater-list {
    margin-top: 3rem;

    .heading {
      font-size: $fs-text30;
      color: $white-text;
      margin-bottom: 24px;
      font-family: $font-antons;
    }

    .theater-info {
      margin-top: 2rem;
      background: $bgButton-food;
      padding: 2.4rem;
      margin-bottom: 5rem;
    }

    .name {
      color: $yellow-text;
      font-size: 2.4rem;
      font-weight: bold;
    }

    .address {
      font-size: 1.6rem;
      color: $white-text;
      margin: 2rem 0;
    }

    .hour {
      display: inline-block;
      padding: 8px;
      border: 1px solid forestgreen;
      color: $bgButton-ticket;
      font-size: 1.6rem;
    }
  }


}