.profilePage {
  margin-top: 2rem;


  .heading {
    text-align: center;
    font-size: $fs-text30;
    color: $white-text;
  }
}

.ant-tabs-tab-btn {
  font-size: $fs-text20;
  color: $white-text;
}