.row {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}


.row-label {
  color: $white-text;
  font-size: $fs-text14;
}

.seat {
  width: 40px;
  height: 30px;
  background: #fff;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.seat {
  &.vip {
    background: $bgButton-ticket;
  }

  &.booked {
    background: $bgButton-food;
    pointer-events: none;
  }

  &.booking {
    background: $bgButtonHover-food;
  }
}

.type-seat {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;

  .booked {
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      background: $bgButton-food;
      width: 30px;
      height: 30px;
      border-radius: 10px;
    }

    span {
      color: $white-text;
      font-size: $fs-text14;
    }
  }

  .booking {
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      background: $bgButtonHover-food;
      width: 30px;
      height: 30px;
      border-radius: 10px;
    }

    span {
      color: $white-text;
      font-size: $fs-text14;
    }
  }

  .vip {
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      background: $bgButton-ticket;
      width: 30px;
      height: 30px;
      border-radius: 10px;
    }

    span {
      color: $white-text;
      font-size: $fs-text14;
    }
  }

  .normal {
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      background: $white-text;
      width: 30px;
      height: 30px;
      border-radius: 10px;
    }

    span {
      color: $white-text;
      font-size: $fs-text14;
    }
  }
}

.bill {
  animation: fadeInUp .3s ease-in-out;
  background-color: #0f172a;
  border-top: .1rem solid rgba(248, 250, 252, .5);
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: sticky;
  transition: .3s ease-in-out;
  width: 100%;
  z-index: 0;

  &-wrapper {
    display: flex;
    gap: 20px;
  }

  &-left {
    flex: 1;

    .name-film {
      font-size: 2.4rem;
      color: $white-text;
      font-family: $font-antons;
      margin-bottom: 2rem;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .item {
        .txt {
          font-size: 1.2rem;
          color: $white-text;
          font-family: $font-antons;
        }
      }
    }
  }

  &-custom-right {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 40rem;

    .bill-countdown {
      width: 15rem;
      background-color: $bgButton-ticket;
      border: .1rem solid rgba(248, 250, 252, .5);
      border-radius: .4rem;
      color: #000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1.3rem;

      .txt {
        font-family: $font-jolesin;
        margin-bottom: 1rem;
      }

      .bill-time {
        align-items: center;
        display: flex;
        font-family: $font-antons ;
        font-size: 2rem;
        letter-spacing: .1rem;
      }


    }

    .bill-right {
      width: 100%;

      .price {
        display: flex;
        color: $white-text;
        align-items: center;
        justify-content: space-between;

        .txt {
          font-size: $fs-text14;
        }

        .num {
          font-size: $fs-text20;
        }
      }
    }

    .bill-button {
      width: 100%;

      .btn {
        width: 100%;
      }
    }
  }
}